name: Audit

on: [push, pull_request]

jobs:
  audit:
    name: Audit

    runs-on: ubuntu-latest

    steps:
      - name: Cache cargo-audit
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            ~/.cargo/bin/cargo-audit
          key: cargo-audit
      - name: Install cargo-audit
        run: cargo install cargo-audit
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Audit
        run: cargo audit -D warnings
