name: Test

on:
  push:
    branches: ["main"]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    name: Build & Test

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        rust:
          - 1.57.0
          - stable
          - nightly
        features:
          - ""
          - --features safe
          - --features serde
          - --features zeroize
          - --features zeroize-on-drop
          - --features safe,serde
          - --features safe,zeroize
          - --features safe,zeroize-on-drop
          - --features serde,zeroize
          - --features serde,zeroize-on-drop
        include:
          - rust: 1.57.0
            msrv: true
          - rust: nightly
            features: --features nightly
          - rust: nightly
            features: --features safe,nightly
          - rust: nightly
            features: --features nightly,serde
          - rust: nightly
            features: --features nightly,zeroize
          - rust: nightly
            features: --features nightly,zeroize-on-drop
          - rust: nightly
            features: --all-features

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Rust
        run: |
          rustup toolchain install ${{ matrix.rust }} --profile minimal --allow-downgrade
          rustup default ${{ matrix.rust }}
      - name: Pin dependencies for MSRV
        if: matrix.msrv
        run: |
          cargo update -p zeroize --precise 1.6.0
          cargo update -p pretty_assertions --precise 1.4.0
          cargo update -p glob --precise 0.3.2
          cargo update -p proc-macro2 --precise 1.0.80
          cargo update -p quote --precise 1.0.35
      - name: Build
        run:
          cargo build --workspace ${{ matrix.features }}
      - name: Test
        run:
          cargo test --workspace ${{ matrix.features }} --all-targets --no-fail-fast
      - name: Doc Test
        run:
          cargo test --workspace ${{ matrix.features }} --doc --no-fail-fast

  no-std-build:
    name: no_std Build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        rust:
          - 1.57.0
          - stable
          - nightly
        features:
          - ""
          - --features safe
          - --features serde
          - --features zeroize
          - --features zeroize-on-drop
          - --features safe,serde
          - --features safe,zeroize
          - --features safe,zeroize-on-drop
          - --features serde,zeroize
          - --features serde,zeroize-on-drop
        include:
          - rust: 1.57.0
            msrv: true
          - rust: nightly
            features: --features nightly
          - rust: nightly
            features: --features safe,nightly
          - rust: nightly
            features: --features nightly,serde
          - rust: nightly
            features: --features nightly,zeroize
          - rust: nightly
            features: --features nightly,zeroize-on-drop
          - rust: nightly
            features: --all-features

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Rust
        run: |
          rustup toolchain install ${{ matrix.rust }} --target thumbv6m-none-eabi --profile minimal --allow-downgrade
          rustup default ${{ matrix.rust }}
      - name: Pin dependencies for MSRV
        if: matrix.msrv
        run: |
          cargo update -p zeroize --precise 1.6.0
          cargo update -p pretty_assertions --precise 1.4.0
          cargo update -p proc-macro2 --precise 1.0.80
          cargo update -p quote --precise 1.0.35
      - name: Build
        run:
          cargo build --target thumbv6m-none-eabi ${{ matrix.features }} -p ensure-no-std

  minimal-versions:
    name: Minimal Versions

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        rust:
          - version: 1.57.0
            features: safe,serde_,zeroize-on-drop
          - version: stable
            features: safe,serde_,zeroize-on-drop

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Rust
        run: |
          rustup toolchain install ${{ matrix.rust.version }} --profile minimal --allow-downgrade
          rustup default ${{ matrix.rust.version }}
      - name: Install nightly Rust
        run:
          rustup toolchain install nightly --profile minimal --allow-downgrade
      - name: Build
        working-directory: test-crates/minimal-versions
        run: |
          cargo +nightly update -Z minimal-versions
          cargo build --features ${{ matrix.rust.features }}
